body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ffefd5, #ffdab9);
    text-align: center;
    overflow-x: hidden;
    font-family: sans-serif;
}
header{
    background: #8b0000;
    font-size: 30px;
    padding:20px;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
}
.container{
    padding: 40px;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.time-capsule{
    font-size: 35px;
    color: #8b0000;
    font-weight:600;
    padding-top: 20px;
    opacity: 0.75;
}
.message{
    margin: 30px auto;
    padding: 20;
    border-radius: 25px;
    border: 2px dashed #ab0e0ed6;
    max-width:600px;
    background: #fefbd8;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.message p{
    color: black;
    padding: 20px;
}
form{
    margin: 15px;
    unicode-bidi: isolate;
    margin-top: 0em;
    display: block;
}
#text{
    width: 100%;
    height: 100px;
    margin: 15px 0;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #910909;
    display: inline-block;    
    position: relative;
}
button{
    font-size: large;
    padding: 10px 25px;
    color: white;
    background: #b22222;
    border-radius: 8px;
    border-color: #b22222;
    cursor: pointer;
}
img{
    width:150px;
    margin: 20px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
footer{
    background: #8b0000;
    padding:10px;
    color: aliceblue;
}
.emoji1{
    position: absolute;
    animation: santa 4s ease-in-out infinite;
}
.emoji2{
    position: absolute;
    right: 0;
    animation: santa 4s ease-in-out infinite;
}
@keyframes santa{
    0%, 100%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(12.5deg);
    }
    75%{
        transform: rotate(-12.5deg);
    }
}